<div class="container">
  <.header socket={@socket} monitor={@monitor} />
  <div class="d-flex main-wrapper mt-3">
    <div class="box-wrapper">
      <.box_item title="Currently up for" value="1 month 7 days 2 hours" />
      <.box_item title="Last checked at" value="1 minute ago" />
      <.box_item title="Incidents" value={@number_of_incidents} last_item={true} />
    </div>
  </div>
  <.chart selected_period={@selected_period} />
  <.table />
</div>
